
@import 'https://fonts.googleapis.com/css?family=Abel';
svg {
  background-color: gray;
}
h1{
  color: red;
   background-color: pink;
    font-family: 'Abel', sans-serif;
}
p{
    font-family: 'Abel', sans-serif;
    color:red;
}
body{
  background-color:black;
}
